page-hashing {
    .hashingContent{
        // background-color: #888;
        // color: white;
        color: color($colors, secondary);
    }
    .outer-circle {
       text-align:center;
       text-decoration: none !important; 
       margin-top: 10% !important;
       margin-left: 40%;
       font-size: 24px;
       z-index: 200; position:relative;
     }

     .arrow-head {
        text-align: end;
        margin-right: -10%;
        margin-top: -85%;
        z-index: 1000; position:relative;
     }

      .burst-text {
        text-align:center;
        margin-top: -40%;
        // margin-bottom: -5000px;
        margin-left: 7%;
        font-size: 30px;
        font-weight: 600;
        // color: rgb(255, 113, 0);
        color: red;
        z-index: 1000; position:relative;
     }
     .timer-text {
        text-align:center;
        margin-top: -10%;
        // margin-bottom: -5000px;
        margin-left: 7%;
        font-size: 26px;
        font-weight: 600;
        color: color($colors, secondary);
        z-index: 1000; position:relative;
     }

}
