page-hashing {
    .hashingContent{
        background-color: #888;
        color: white;
    }
    .donut-inner-text {
        text-align:center;
        margin-top: -200px;
        // margin-bottom: -5000px;
        margin-left: 40px;
        font-size: 20px;
        font-weight: 400;
        color: white;
        z-index: 1000; position:relative;
     }
     .outer-circle {
        text-align:center;
        margin-top: -60px;
        // margin-bottom: -5000px;
        margin-left: 130px;
        z-index: 200; position:relative;
      }

}
