inner-wallet {
    img  {
        float: left;
        vertical-align: baseline;
        margin-top: 0%;
        margin-left: -5%;
    }
    .walletDisplay{
        padding-left:10%;
        width:15%;
        text-align: center;
        line-height: 25px;
        font-size:12px;
        height: 24px;
        color: white;
        border-color:white !important;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 5px;
        margin-bottom: 0%;
        margin-top:0%;  
        background-color: #191919;
    }
}
