page-login {
    .loginContent{
        // background-color: color($colors, secondary);
        color: white;
        // display: flex;
        // align-items: center;
        // text-align: center;
        // display: flex!important;
        // align-content: center!important;
        // align-items: center!important;
        // align-items: center;
        // justify-content: center;
        // overflow: hidden;
    }
    .image-center{
        // display: block;
        // margin-left: auto;
        // margin-right: auto;
        // width: 60%;
        text-align: center;
    }
    .login-form
    {
    text-align: center;
    color:red;
    }

}
