.ios, .md{
    
    page-splash-logo {
        .scroll-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
}


.scroll-content {
    overflow-y: hidden;
}

@keyframes fadeInAndSpin {
    100% {
        opacity: 1;
        transform: rotate3d(1, 1, 0, 0deg);
    } 
}
 
@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}