page-slotsdraw {
    .machine{
        height: 50px;
        max-height: 50px;
        font-size: 50px;
        display: inline-block;
      }

      ion-button {
          text-align: center,
      }
}
