page-slotsdraw {
    .machine{
        height: 50px;
        max-height: 50px;
        font-size: 50px;
        display: block;
        
      }
      .winner-button{
          padding-bottom:-100%;
          
      }
      ion-button {
          text-align: center,
      }
}
