page-home {
    .scroll-content {
        overflow-y: hidden;
    }

    ion-page.modal {
        padding: 30px;
        background: rgba(0,0,0,0.5);
      }
      .disabledfeature{
        color: #8f8f8f;
      }

}
