<!--
  Generated template for the CommTreePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CommTree</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-list radio-group [(ngModel)]="relationship" (ionChange)="toggleEvent($event)">
      <ion-item>
        <ion-label>Table</ion-label>
        <ion-radio value="table" checked ></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Chart</ion-label>
        <ion-radio value="chart" ></ion-radio>
      </ion-item>
    </ion-list>

  </ion-row>
  <ion-scroll scrollX="true">
    <ion-row *ngIf="!graph" nowrap class="tableContainer">
      <ay-treeTable [value]="input" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
        <ay-column field="name" header="Name" [style]="{'width': '30%'}"></ay-column>
        <ay-column field="stake" header="Stake" [style]="{'width': '20%','text-align':'right'}"></ay-column>
        <ay-column field="profit" header="Profit" [style]="{'width': '20%', 'text-align':'right'}"></ay-column>
        <ay-column field="totalComm" header="Tot. Comms" [style]="{'width': '20%', 'text-align':'right'}"></ay-column>
      </ay-treeTable>
    </ion-row>
    <ion-row *ngIf="graph" col-12>
      <!-- <div class="wrapTree"> -->

      <!-- <tree-diagram [data]="input"></tree-diagram> -->

      <ng-org-chart [topEmployee]="topEmployee"></ng-org-chart>
      <!-- </div> -->

    </ion-row>
  </ion-scroll>
</ion-content>