page-comm-tree {
    ion-scroll {
        white-space: nowrap;
        height: 100%;
    }

    .tableContainer{
        width: 150%;
        overflow-x: scroll !important;
        overflow-y: hidden;
        word-wrap: break-word;
        font-size: 16px;
        // font-size:0.8em;
        // font-weight:300;
    }

    .wrapTree{
  
            width: 200%;
            overflow-x: scroll !important;
            overflow-y: hidden;
            // word-wrap: break-word;
            // font-size:0.8em;
            // font-weight:300;
        
    }
    .oc-border {
        border: 1px solid color($colors,"secondary");
    }
     
    .oc-background {
        background-color: #222;
    }
     
    .oc-name {
        font-family: 'roboto', serif;
        white-space: nowrap;
    }
     
    .oc-designation {
        font-family: 'Roboto', sans-serif;
        color: color($colors,"secondary");
        font-size: 10px;
        font-weight: 400;
        white-space: nowrap;
    }
}
