<!--
  Generated template for the CommTreePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CommTree</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="mComm">
    <ion-row>
      <ion-col col-6-md text-center>
        <span style="font-size:20px; color: #f3ab2e">Stake Comms:</span>
        <br>
        <span style="font-size:24px;">{{weekStakeComms}}</span>
      </ion-col>

      <ion-col col-6-md text-center>
        <span style="font-size:20px; color: #f3ab2e">Red Comms:</span>
        <br>
        <span style="font-size:24px;">{{weekProfitComms}} </span>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="aComm">
    <ion-row>
      <ion-col col-12-md text-center>
        <span style="font-size:20px; color: #f3ab2e">Stake Comms:</span>
        <br>
        <span style="font-size:24px;">{{weekStakeComms}}</span>
      </ion-col>
    </ion-row>
  </div>

  <ion-row>
    <ion-segment [(ngModel)]="viewOptions" color="primary" (ionChange)="toggleEvent($event)">
      <ion-segment-button outline value="table" aria-selected="true">
        Table
      </ion-segment-button>
      <ion-segment-button outline value="chart">
        Chart
      </ion-segment-button>
    </ion-segment>
  </ion-row>

  <!-- <ion-row>
    <ion-list radio-group [(ngModel)]="viewOptions" (ionChange)="toggleEvent($event)">
      <ion-item>
        <ion-label>Table</ion-label>
        <ion-radio value="table" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Chart</ion-label>
        <ion-radio value="chart"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-row> -->

  <ion-scroll scrollX="true">
    <ion-row *ngIf="displayMTable" nowrap class="tableContainer">
      <ay-treeTable [value]="input" [rows]="10" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
        <ay-column field="name" header="Name" [style]="{'width': '40%' , 'background':'#222', 'color':'white' ,'border':'none'}"></ay-column>
        <ay-column field="weekStake" header="Stake" [style]="{'width': '15%', 'background':'#222', 'color':'white' ,'border':'none', 'text-align':'right'}"></ay-column>
        <ay-column field="stakeComm" header="Comms" [style]="{'width': '15%', 'background':'#222', 'color':'white' ,'border':'none', 'text-align':'right'}"></ay-column>
        <ay-column field="weekProfit" header="Profit" [style]="{'width': '15%','background':'#222', 'color':'white' ,'border':'none', 'word-wrap':'break-word', 'text-align':'right'}"></ay-column>
        <ay-column field="profComm" header="R. Comm" [style]="{'width': '15%','background':'#222', 'color':'white' ,'border':'none', 'text-align':'right'}"></ay-column>
      </ay-treeTable>
    </ion-row>
    <ion-row *ngIf="displayATable" nowrap class="smallTableContainer">
      <ay-treeTable [value]="input" [rows]="10" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
        <ay-column field="name" header="Name" [style]="{'width': '40%' , 'background':'#222', 'color':'white' ,'border':'none'}"></ay-column>
        <ay-column field="weekStake" header="Stake" [style]="{'width': '15%', 'background':'#222', 'color':'white' ,'border':'none', 'text-align':'right'}"></ay-column>
        <ay-column field="stakeComm" header="Comms" [style]="{'width': '15%', 'background':'#222', 'color':'white' ,'border':'none', 'text-align':'right'}"></ay-column>
        <!-- <ay-column field="weekProfit" header="Profit" [style]="{'width': '15%','background':'#222', 'color':'white' ,'border':'none', 'word-wrap':'break-word', 'text-align':'right'}"></ay-column> -->
        <!-- <ay-column field="profComm" header="R. Comm" [style]="{'width': '15%','background':'#222', 'color':'white' ,'border':'none', 'text-align':'right'}"></ay-column> -->
      </ay-treeTable>
    </ion-row>
    <ion-row *ngIf="graph" col-12>
      <ng-org-chart [topEmployee]="topEmployee"></ng-org-chart>

    </ion-row>
  </ion-scroll>
</ion-content>