page-dummy-chat {
    // .scroll-content {
    //     overflow-y: visible;
    // }

    .user_name {
        color: #ffffff;
        font-size: 24px;
    }
    
    .message_row {
        background-color: color($colors, dark);

    }

    .displayMsg{
        color: color($colors, secondary);
        font-size: 16px;
    }
    .message {
        padding: 10px !important;
        transition: all 250ms ease-in-out !important;
        border-radius: 10px !important;
        margin-bottom: 4px !important;
    }
    .my_message {
        background: color($colors, primary) !important;
        color: white !important;
    }
    .other_message {
        background: #dcdcdc !important;
        color: #000 !important;
    }

    .item-md.item-block .item-inner,
    .item-md.item-input.input-has-focus .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
    .list-md .item-input.input-has-focus:last-child,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom: none;
        box-shadow: none;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom: none;
        box-shadow: none;
    }

}
