page-bidding {
    // background: grey;
    .mycontent{
        background-color: white;
    }
    .totalPoolAmount {
        color:red;
        padding-top:2px;
        // border-color:red;
       
    }
    
    .amountContainer{
        margin-left: 25%;
        margin-bottom: 10px;
        border: 1px solid red;
        height: 30px;
        width: 50%;
    }

    .row{
        align-items: center !important;
        text-align: center !important;
    }
}
