page-roulette {
#holder {
  margin:auto;
}


body {
  text-align:center;
  background-color:#000000;
}

p{
  color:rgb(5, 5, 5);
}

#spinInputAmount{
  width: 10em;
  height:100%
}
ion-button {
  background-color: #154774;
  // height: 4em;
  height: 30px;
  width: 120px;
  color: whitesmoke;
  border-color: grey;
  border-width: 1em;
  // margin: 1em;
}


}
