page-stream {
    ion-scroll {
        width:100%;
        height:300px;
    }
    ion-input{
        font-size:20px !important;
    }
    .bet-timer {
        text-align:center;
        font-size: 24px;
        font-weight: 600;
        color: white;
        margin-top: -5%
     }
     .game-timer {
        text-align:center;
        font-size: 24px;
        font-weight: 600;
        color: color($colors, secondary);
        margin-top: -5%
     }

     .ion-card-header{
         font-size:4px !important;
     }
     .end-text{
        margin-top: -5%;
        text-align:center;
        font-size: 24px;
        font-weight: 600;
        color: #24BF2E;
     }
     .walletDisplay{
        float:right;
        width:40%
    }
}
