page-trehunt {
    ion-row {
        text-align: center;
    }

    // .ion-refresher-content .spinner{
    //     stroke: #fff;
    // }
//     ion-refresher .ion-refresher-content{
//         stroke : red;
//         fill: red;
//     }

//     .scroll-refresher .ionic-refresher-content.ionic-refresher-with-text{
//         color: #fff;
//       }
//     ion-refresher, ion-refresher-content {
//     // .refresher-refreshing .spinner-crescent circle, .refresher-refreshing .spinner-ios line, .refresher-refreshing .spinner-ios-small line{
//     //     stroke : red;
//     //     fill: red;
//     //  }
//     .scroll-refresher .spinner{
//         stroke: #fff;
//       }
//     .refresher-pulling-icon, .refresher-refreshing-icon, .refresher-icon-color, .refresher-text-color{
//         color: #f3ba2e;
//     }
//    }

    h2, h6 {
        color: #f3ba2e;
    }

    ion-input{
        padding-left:28px;
        width:80%;
        height:40px;
    }

    .style-game-id{
        font-size: 18px;
        font-weight: 700px;
    }

    .style-current-tix{
        font-size: 14px;
        font-weight: 700px;
    }

}   
